<launch>
  <arg name="number_robots" default="3"/>
  <arg name="assign_algo" default="Hungarian"/>
  <group if="$(eval assign_algo == 'Hungarian')">
    <group if="$(eval number_robots > 0)">
      <include file="$(find frontier_exploration)/launch/robot_assigner.launch">
      <arg name="robot_index" value="0"/>
      <arg name="file_name" value="decent_robot_assigner.py" />
      </include>
    </goup>

    <group if="$(eval number_robots > 1)">
      <include file="$(find frontier_exploration)/launch/robot_assigner.launch">
      <arg name="robot_index" value="1"/>
      <arg name="file_name" value="decent_robot_assigner.py" />
      </include>
    </group>

    <group if="$(eval number_robots > 2)">
      <include file="$(find frontier_exploration)/launch/robot_assigner.launch">
      <arg name="robot_index" value="2"/>
      <arg name="file_name" value="decent_robot_assigner.py" />
      </include>
    </group>
  </group>

  <group if="$(eval assign_algo == 'Stupid')">
    <group if="$(eval number_robots > 0)">
      <include file="$(find frontier_exploration)/launch/robot_assigner.launch">
      <arg name="robot_index" value="0"/>
      <arg name="file_name" value="stupid_robot_assigner.py" />
      </include>
    </group>

    <group if="$(eval number_robots > 1)">
      <include file="$(find frontier_exploration)/launch/robot_assigner.launch">
      <arg name="robot_index" value="1"/>
      <arg name="file_name" value="stupid_robot_assigner.py" />
      </include>
    </group>

    <group if="$(eval number_robots > 2)">
      <include file="$(find frontier_exploration)/launch/robot_assigner.launch">
      <arg name="robot_index" value="2"/>
      <arg name="file_name" value="stupid_robot_assigner.py" />
      </include>
    </group>
  </group>

</launch>

